<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="FolderWithTestFile" value=".\TestFiles\"/>
		<add key="BaseAPIUrl" value="https://reqres.in/api/"/>
		<!--Значения параметров по умолчанию для api/users (list users)-->
		<!--api/users возвращает указанное количество записей: можно поставить как константу, но возможны изменения в api, поэтому лучше в конфиге хранить.
		Указание параметра для get api/users?total не изменяет количество возвращаемых записей.-->
		<add key="Total" value="12"/>
		<!--api/users возвращает указанную страницу из набора данных по пользователям: можно поставить как константу, но возможны изменения в api, поэтому лучше в конфиге хранить.
		Указание параметра для get api/users?page изменяет количество возвращаемых записей с учетом значения параметра PerPage по умолчанию-->
		<add key="Page" value="1"/>
		<!--api/users возвращает указанное количество пользователей на одну страницу: можно поставить как константу, но возможны изменения в api, поэтому лучше в конфиге хранить.
		Указание параметра для get api/users?per_page изменяет количество возвращаемых записей с учетом значения параметра Page по умолчанию-->
		<add key="PerPage" value="6"/>
		<!--api/users возвращает указанное количество пользователей на одну страницу: можно поставить как константу, но возможны изменения в api, поэтому лучше в конфиге хранить.
		Указание параметра для get api/users?total_pages не изменяет количество возвращаемых записей: расчитывается, как (total / per_page) с увеличением на 1, если не целое число в результате деления.-->
		<add key="TotalPages" value="2"/>
		<!--Необязательно проверять служебную информацию для api/users и api/users/id пользователя (single user)-->
		<add key="SupportUrl" value="https://reqres.in/#support-heading"/>
		<add key="SupportText" value="To keep ReqRes free, contributions towards server costs are appreciated!"/>
	</appSettings>
</configuration>