<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--Адрес папки с JSON-файлами для проведения тестирования-->
		<add key="FolderWithTestFile" value=".\TestFiles\"/>
		<!--Базовый URL для API-->
		<add key="BaseAPIUrl" value="https://reqres.in/api/"/>
	</appSettings>
</configuration>